// Chuyển tất cả các thẻ html về trạng thái mặc định

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  // để 10px để dễ nhân
}
body {
  font-family: $font;
  color: $textColor;
  line-height: 1.25;
  //line-height: dùng để thiết lập chiều cao giữa các dòng
  // lấy line-height chia font-size để được đc số
  font-size: $fontSize;
}

a {
  text-decoration: none;
  color: $linkColor;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
