// Các biến nào nhiều thì ta đặt ra 1 biến riêng
$primaryColor: #46b20f;
$secondaryColor: #ff6916;
$font: Inter, sans-serif;
$fontSize: 1.6rem;
$textColor: #2c2c2c;

$backgroundColor: #dcffca;

// Trên thực tế ta có thể tách riêng màu link ra
$linkColor: #2c2c2c;

$orange-100: #fff0e7;
$orange-200: #ffd5bd;
$orange-300: #ffba94;

$green-100: #f2ffec;
$green-200: #dcffca;
