* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.menu-bar {
  text-align: center;
  margin: 20px;
}
.menu-bar .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu-bar .menu-list .menu-item {
  display: inline-block;
  width: auto;
  padding: 18px 5px 18px 5px;
  border: 1px solid black;
  position: relative;
}
.menu-item-top {
  display: inline;
  padding: 15px;
  margin: auto;
  /* background-color: aquamarine; */
}
.menu-item-top i {
  padding-left: 10px;
  padding-right: 10px;
}
.menu-item-top-drop {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: inline-block;
  /* border: 1px solid rgb(27, 222, 92); */
  margin-top: 50px;
}
.menu-list li:nth-of-type(6),
.menu-list li:nth-of-type(6) .menu-item-top {
  background-color: white;
  color: white;
  flex-grow: 1;
  border: none;
}
.menu-item:hover .menu-item-top,
.menu-item:hover .menu-item-top span {
  color: white;
  background-color: #3694d3;
}

.menu-item-top-drop {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black;
  left: 90%;
  width: 180%;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.2);
  display: none;
}
.menu-item-top-drop .item-drop {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.item-drop a {
  display: flex;
  padding-left: 10px;
}
.item-drop span {
  padding-left: 20px;
}

.menu-item:hover .menu-item-top-drop {
  display: block;
}
.menu-item-top-drop li:nth-of-type(3) {
  border: none;
}
.menu-item-top-drop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.8em;
  top: -10px;
  border-top: 0px;
  border-right: 10px;
  border-bottom: 10px;
  border-left: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

/* Nhập border */
.menu-list .menu-item + .menu-item {
  border-left: none;
}
