.box {
  width: 200px;
  height: 200px;
  /*   
  border-width: 2px;
  border-style: solid;
  border-color: red; */
  /* border: px double red; */
  /* border-left: 3px solid red;
  border-right: 3px solid blue;
  border-top: 3px solid yellow;
  border-bottom: 3px solid darkblue; */

  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 3px;
  border-bottom-width: 3px;

  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;

  border-top-color: rgb(13, 0, 255);
  border-bottom-color: rgb(66, 174, 120);
  border-right-color: rgb(255, 0, 60);
  border-left-color: rgb(255, 234, 0);
}
