/* backgroud-color*/
body {
  height: 2000px;
  /* background-color: rgb(255, 246, 127); */
  background-repeat: no-repeat;
  background-position: 0 0;
  /* background-size: cover; */
  /* backgroud-size: contain fix theo chiều cao */
  /* background-attachment: fixed; */
  background: bisque
    url("https://th.bing.com/th/id/R.1ac8616cc26c5ffa5d4a124e068c447d?rik=Q3ad8plACqWAMQ&riu=http%3a%2f%2flovelyfotos.l.o.pic.centerblog.net%2fo%2f98a8ed98.jpg&ehk=oMZ4%2bUZ%2b2P7UvBelRgLJi%2fXMGMrpqfqtm%2bTC58Gqtbg%3d&risl=&pid=ImgRaw&r=0");
}
.box {
  background-color: blue;
}
