// mixin không tham số
@mixin center {
  width: 1200px;
  margin: 0 auto;
}
@mixin background {
  background-color: red;
}

// mixin có tham số
// @mixin center($width, $space: 0) {
//   width: $width;
//   margin: $space auto;
// }

@mixin position($type, $x, $y) {
  position: absolute;
  @if ($type ==tl) {
    top: $x;
    left: $y;
  } @else if($type==tr) {
    top: $x;
    right: $y;
  } @else if($type==bl) {
    bottom: $x;
    left: $y;
  } @else if($type==br) {
    bottom: $x;
    right: $y;
  } @else {
    inset: 0;
  }
}

@mixin center($type) {
  @if ($type==display) {
    display: flex;
    align-items: center;
    justify-content: center;
  } @else if($type==position) {
    position: relative;
    > * {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  } @else if($type==text) {
    text-align: center;
    > * {
      display: inline-block;
      text-align: left;
    }
  } @else if($type==margin) {
    > * {
      margin: 0 auto;
    }
  }
}
